h1{
  text-align: center;
}
.container, header, .left_sidebar, .content, .right_sidebar, footer{
  border:1px solid lightgrey;
}
header, .left_sidebar, .content, .right_sidebar, footer{
  padding: 20px;
  margin:20px;
}
.left_sidebar{
  float: left;
}
.content{
  margin: 20px auto;
  width: 65%;
}
.right_sidebar{
  float: right;
}
.left_sidebar ul, .right_sidebar ul{
  padding: 10px;
  list-style: none;
}
footer{
  clear: both;
}
.footer_container{
  height: 150px;
  width: 935px;
  margin: auto;
}
.footer_container a{
  text-decoration: none;
  color: black;
}
.footer_container a:hover{
  color: blue;
}
.footer_container dd{
  margin-left: 0;
}
.footer_container dl{
  display: inline-block;
}
.footer_container dt{
  font-weight: bold;
}
.information, .contact, .author_SNS, .help{
  width: 180px;
  float: left;
  padding-left: 20px;
  margin-left: 30px;
  margin-top: 10px;
}
