h1{
  text-align: center;
}
.container, .header, .left_sidebar, .content, .right_sidebar, .footer{
  border:1px solid lightgrey;
}
.header, .left_sidebar, .content, .right_sidebar, .footer{
  padding: 20px;
  margin:20px;
}
.left_sidebar{
  float: left;
}
.content{
  margin: 20px auto;
  width: 65%;
}
.right_sidebar{
  float: right;
}
.left_sidebar ul, .right_sidebar ul{
  padding: 10px;
  list-style: none;
}
.footer{
  clear: both;
  column-width: 300px;
  column-rule: 2px solid lightgrey;
  height: 200px;
}
.footer div{
  break-before: column;
  padding: 20px;
}

.footer a{
  text-decoration: none;
  color: black;
}
.footer a:hover{
  color: blue;
}
