body{
  background-color: #f2f2f2;
  width: 80%;
  position: relative;
  top: 10px;
  margin: auto;
}
#web_title, #table_of_contents li a{
  color: black;
  text-decoration: none;
}

#table_of_contents li a:hover{
  color: red;
  text-decoration: none;
}

.topic ul li:hover{
  color:blue;
}

#top_inner{
  text-align: center;
  border: solid black 1px;
  margin-bottom: 20px;
}
#mid_inner{
}
#content, #sidebar{
  display: inline-block;
  border: solid black 1px;
}
#sidebar{
  float: left;
  margin-right: 10px;
  width: 17%;
}
#content{
  background-color: white;
  padding-left: 2%;
  float: right;
  width: 79%;
}
#table_of_contents{
  list-style: none;
  padding: 20px;
}
